
RewriteEngine on
<Files .htaccess>
Order allow,deny
allow from all
</Files>	

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT,L]

RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://www.mysetup.com.ar/$1 [R,L]
